<a href="https://colab.research.google.com/github/LuffiNeil/UTEC-PHYTON/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 10
y = 2.5

def summ():
    value = 0
    value = x + y

    print(value)
    return


summ()

class alumno :
  age = 0
  career = ""
  name = ""

# Create a list to store alumno instances
alumnos = []

def CreateAlumn():
  # Create instances of the alumno class and append them to the list
  ithan = alumno()
  ithan.name = "ithan"
  ithan.age = 27
  ithan.career = "Game Programmer"
  alumnos.append(ithan)

  henson = alumno()
  henson.name = "Henson"
  henson.age = 25
  henson.career = "Game Desing"
  alumnos.append(henson)

  xiomara = alumno()
  xiomara.name = "Xiomara"
  xiomara.age = 24
  xiomara.career = "comunicadora"
  alumnos.append(xiomara)


CreateAlumn()

# Access the instances using list indexing
print(alumnos[1].age)

12.5
25